<aside class="user-page-aside">
  <div class="friends-list">
    <h3 class="friends-list-header">Pending Friend Requests</h3>
    <%= render_friend_requests(friend_requests) %>
  </div>
  <div class="friends-list">
    <h3 class="friends-list-header">Your Friends</h3>
    <%= render_friends(friends) %>
  </div>
</aside>
